labs/step-functions/aws/nodejs/state-machine.asl.json
{
  "Comment": "Busca CEP — Serverless Unifor (Node.js)",
  "StartAt": "ValidateCEP",
  "States": {
    "ValidateCEP": {
      "Type": "Task",
      "Resource": "${ValidateCepArn}",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "Failed"
        }
      ],
      "Next": "FetchCEP"
    },
    "FetchCEP": {
      "Type": "Task",
      "Resource": "${FetchCepArn}",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "Failed"
        }
      ],
      "Next": "FormatResponse"
    },
    "FormatResponse": {
      "Type": "Task",
      "Resource": "${FormatResponseArn}",
      "End": true
    },
    "Failed": {
      "Type": "Pass",
      "Parameters": {
        "status": "FAILED",
        "cep.$": "$.cep",
        "step": "workflow",
        "error.$": "$.error.Cause"
      },
      "End": true
    }
  }
}
